* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, rgb(8, 102, 226), pink);
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 800px;
  background-color: rgb(253, 247, 247);
  margin: 100px auto 20px;
  padding: 70px;
  border-radius: 10px;
  justify-content: center;
  text-wrap: wrap;
  overflow: scroll;
}
.todo-app h2 {
  color: rgb(3, 3, 105);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: rgb(171, 224, 240);
  padding: 10px;
  border-radius: 10px;
}
button {
  border: none;
  outline: none;
  padding: 10px 50px;
  background-color: #4596ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}
button:hover {
  transition-duration: 0.25s;
  background-color: #32bcdf;
}
ul {
  background-color: white;
  margin-left: 0px;
}
ul li {
  list-style: none;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-wrap: nowrap;
  text-align: right;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li ::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(to-do-list-image.jpg);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked {
  color: black;
  text-decoration: line-through;
}
ul li.checked ::before {
  background-image: url(ticked.png);
}
ul li span {
  display: flex;
  margin: 0px;
  justify-content: left;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
}
ul li.checked span {
  text-decoration: line-through;
  color: black;
}

.style-btn {
  margin: auto;
}
.edit-btn,
.mark-as-done,
.delete-btn {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
.edit-btn,
.mark-as-done,
.delete-btn {
  background-color: #35a0e7;
}
.delete-btn:hover {
  background-color: #df2443;
}
.edit-btn:hover {
  background-color: green;
}
.mark-as-done:hover {
  background-color: #ae69c9;
}
