* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, rgb(8, 102, 226), pink);
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 800px;
  background-color: white;
  margin: 100px auto 20px;
  padding: 70px;
  border-radius: 10px;
  overflow: scroll;
}
.todo-app h2 {
  color: rgb(3, 3, 105);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: rgb(171, 224, 240);
  padding: 10px;
  border-radius: 10px;
}
button {
  border: none;
  outline: none;
  padding: 10px 50px;
  background-color: #4596ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}
button:hover {
  transition-duration: 0.25s;
  background-color: #32bcdf;
}
ul li {
  list-style: none;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-wrap: nowrap;
  text-align: left;
  padding: 10px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li.checked {
  color: black;
  text-decoration: line-through;
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
}
ul li.checked span {
  text-decoration: line-through;
  color: black;
}
ul li span:hover {
  background-color: #dfdbdb;
}
